<div class="flex flex-col items-center justify-center bg-[#E1E1E1] flex-grow">
  <h1 class="text-3xl mt-4 mb-4">Seu Carrinho</h1>

  <% if @cart_items.empty? %>
    <p>Seu carrinho está vazio!</p>
  <% else %>
    <div class="flex flex-row space-x-8 mb-4">
      <!-- Lista de Produtos -->
      <div class="flex-grow">
        <ul class="w-full max-w-4xl">
          <% @cart_items.each do |item| %>
            <li class="flex justify-start p-4 border-b-2 bg-[#D4D4D4] rounded-lg">
              <div>
                <div>
                  <%= image_tag item.product.image_url, alt: item.product.name, class: "w-[200px] h-[200px] object-contain p-2" %>
                </div>

              </div>
              <div class="flex flex-col justify-around max-w-xs overflow-auto w-full">
                <div>
                  <strong><%= item.product.name %></strong>
                </div>

                <div class="pt-2 pb-2">
                  <p class="text-sm text-gray-600"><%= item.product.description %></p>
                </div>
                <div class="flex flex-row justify-around items-center">
                  <div class="flex items-center">
                    <%= form_with url: decrement_cart_item_path(item), method: :post, class: "mr-2" do %>
                      <button type="submit" class="bg-red-500 hover:bg-red-700 text-white rounded p-1"><i class="fa fa-minus"></i></button>
                    <% end %>
                    <span class="mx-2"><%= item.quantity %></span>
                    <%= form_with url: increment_cart_item_path(item), method: :post, class: "ml-2" do %>
                      <button type="submit" class="bg-green-500 hover:bg-green-700 text-white rounded p-1"><i class="fa fa-plus"></i></button>
                    <% end %>
                  </div>
                  R$: <%= number_to_currency(item.product.price * item.quantity, unit: "", separator: ",", delimiter: ".") %>
                  <%= link_to cart_item_path(item), data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja remover este item?' } do %>
                    <i class="fa fa-trash fa-lg text-red-500 hover:text-red-700 cursor-pointer ml-2"></i>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- Resumo da Compra -->
      <div class="flex flex-col bg-[#D4D4D4] justify-center items-center text-center rounded-lg max-h-72 p-4">
        <p class="pt-5 pb-5 text-lg border-b border-[#929292] w-full">Resumo da Compra</p>
        <div class="flex flex-row justify-around w-full p-2">
          <p>Valor dos Produtos</p>
          <p>R$: <%= number_to_currency(@cart_items.sum { |item| item.product.price * item.quantity }, unit: "", separator: ",", delimiter: ".") %></p>
        </div>
        <div class="flex flex-row justify-around w-full p-2">
          <p>Valor do Frete</p>
          <p>R$ 40,00</p>
        </div>
        <div class="p-4 text-lg font-semibold">
          <p>Total da Compra: R$: <%= number_to_currency(@cart_items.sum { |item| item.product.price * item.quantity } + 40, unit: "", separator: ",", delimiter: ".") %></p>
        </div>
        <div class="mt-4">
          <%= button_to "Finalizar Compra", orders_path, method: :post, class: "bg-blue-600 hover:bg-blue-700 cursor-pointer text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300" %>
        </div>

      </div>
    </div>
  <% end %>
</div>
