<header class="bg-[#717172] text-white pt-6">
  <div class="container mx-auto flex flex-col justify-center">
    <div class="flex flex-row items-center justify-between pb-3">
      <!-- Logo -->
      <%= link_to root_path, class: "cursor-pointer hidden md:flex" do %>
        <img src="/icons/logoHeader.svg" alt="Logo" class="h-12">
      <% end %>

      <!-- Search Bar -->
      <div>
        <%= form_with url: search_path, method: :get, local: true, class: "w-full md:w-96" do %>
          <%= text_field_tag :query, params[:query], placeholder: "Pesquisar...", class: "p-2 rounded-md placeholder:text-black w-full text-black" %>
          <%= submit_tag "Buscar", class: "hidden" %>
        <% end %>

      </div>

      <!-- User Info and Cart -->
      <div class="flex items-center">
        <!-- Bem Vindo, Cristiano -->
        <% if user_signed_in? %>
          <div class="text-white text-sm mr-4 flex flex-col items-center">
            <p>Bem Vindo,</p>
            <p><%= current_user.name %></p>
            <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

          </div>
        <% else %>
          <div class="text-white text-sm mr-4 flex flex-col items-center">
            <%= link_to "Realizar Login", new_user_session_path %>
          </div>
        <% end %>

        <!-- Avatar -->
        <% if user_signed_in? %>
          <%= link_to user_profile_path do %>
            <div class="mr-4 cursor-pointer">
              <img src="/icons/user_avatar.svg" alt="Avatar" class="w-9 h-9">
            </div>
          <% end %>
        <% end %>

        <!-- Shopping Cart SVG -->
        <%= link_to cart_path(current_cart) do %>
          <div class="cursor-pointer">
            <img src="/icons/cart.svg" alt="Logo" class="h-8">
          </div>
        <% end %>

        <%= link_to orders_path do %>
          <div class="cursor-pointer ml-4">
            <img src="/icons/listOrders.svg" alt="Histórico de Pedidos" class="h-8">
          </div>
        <% end %>

      </div>
    </div>
    <div class=" flex-row justify-center items-center gap-12 pb-3 hidden md:flex">
      <div class=" flex-row justify-center items-center gap-12 pb-1 hidden md:flex">
        <%= link_to root_path(category: 'Kits') do %>
          <div class="cursor-pointer flex flex-row gap-2 items-center justify-center">
            <img src="/icons/kits.svg" alt="Logo" class="h-8">
            <p>Kits</p>
          </div>
        <% end %>

        <%= link_to root_path(category: 'Cordas') do %>
          <div class="cursor-pointer flex flex-row gap-2 items-center justify-center">
            <img src="/icons/strings.svg" alt="Logo" class="h-8">
            <p>Cordas</p>
          </div>
        <% end %>

        <%= link_to root_path(category: 'Teclas') do %>
          <div class="cursor-pointer flex flex-row gap-2 items-center justify-center">
            <img src="/icons/keys.svg" alt="Logo" class="h-8">
            <p>Teclas</p>
          </div>
        <% end %>

        <%= link_to root_path(category: 'Áudio') do %>
          <div class="cursor-pointer flex flex-row gap-2 items-center justify-center">
            <img src="/icons/audio.svg" alt="Logo" class="h-8">
            <p>Áudio</p>
          </div>
        <% end %>

        <%= link_to root_path(category: 'Bateria') do %>
          <div class="cursor-pointer flex flex-row gap-2 items-center justify-center">
            <img src="/icons/drums.svg" alt="Logo" class="h-8">
            <p>Bateria</p>
          </div>
        <% end %>

        <%= link_to root_path(category: 'Sopro') do %>
          <div class="cursor-pointer flex flex-row gap-2 items-center justify-center">
            <img src="/icons/sopro.svg" alt="Logo" class="h-8">
            <p>Sopro</p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</header>
